
.about-container {
    display: flex;
    padding: 0;
    align-items: flex-start;
}


.about-text {
    flex: 1;
    padding : 0 40px;
    color: #374151;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: normal;
}

.about-text h2 {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: normal;
}

.about-text h1 span,
.about-text h2 span {
    font-weight: bold;
}

.about-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}


.about-image {
    flex: 1; /* Ocupa menos espacio (1/3 del ancho) */
    overflow: hidden;
    top: 20px; /* Distancia desde la parte superior del viewport */
}

.about-image img {
    width: 100%;
    height: 80vh;
    display: block;
}

/* ---------------------------------------------------- */
/* Alianzas (alliances-container y alliance) */
/* ---------------------------------------------------- */
.alliances-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las alianzas salten de línea si el espacio es limitado */
    gap: 15px; /* Espacio entre las tarjetas de alianza */
    margin-top: 20px;
}

.alliance {
    padding: 20px 30px;
    border: 2px solid #33a852; /* Borde verde del mockup */
    border-radius: 20px; /* Forma de píldora */
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}

.alliance:hover {
    background-color: #e6f7ef; /* Pequeño efecto hover */
    cursor: pointer;
}