.hero-section {
    display: flex;
    align-items: stretch;
    gap: 40px;
    padding: 0;
    height: 100%;
}
.hero-text {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    color: #374151;
}
.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
    padding: 0 24px;
    font-weight: normal;
}

.hero-text .highlight {
    font-weight: bold;
}
.btn-service {
    background-color: #102B73;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
    width: fit-content;
    margin: 0 24px;
}
.hero-image {
    flex: 1;
    overflow: hidden;
    border: 0;
}
.hero-image img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}