.services-container-main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: auto;
}

.services-header h1 {
    color: #374151;
    font-weight: normal;
    text-align: center;
    font-size: 42px;
    margin-bottom: 40px;
    padding-top: 20px;
}

.services-header h1 span {
    font-weight: bold;
}

.services-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 20px 0;
}

.services-card {
    flex: 1;
    background-color: white;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.services-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #374151;
}

.services-card p {
    line-height: 1.6;
    color: #374151;
    flex-grow: 1;
    margin-bottom: 25px;
}

.btn-more-info {
    background-color: #102B73;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 12px;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn-more-info:hover {
    background-color: #00AE78;
}